#
# This workflow calls the main distribution pipeline from DuckDB to build, test and (optionally) release the extension
#
name: Main Extension Distribution Pipeline
on:
  push:
  pull_request:
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.head_ref || '' }}-${{ github.base_ref || '' }}-${{ github.ref != 'refs/heads/main' && github.sha || '' }}
  cancel-in-progress: true
jobs:
  duckdb-stable-build:
    name: Build extension binaries
    uses: duckdb/extension-ci-tools/.github/workflows/_extension_distribution.yml@v1.4.3
    with:
      duckdb_version: v1.4.3
      ci_tools_version: v1.4.3
      extension_name: quack
    if: (github.event_name != 'push' || !contains(join(github.event.commits.*.message, ' '), env.SKIP_CI_PATTERN)) && (github.event_name != 'pull_request' || !contains(github.event.pull_request.title, env.SKIP_CI_PATTERN))
  code-quality-check:
    name: Code Quality Check
    uses: duckdb/extension-ci-tools/.github/workflows/_extension_code_quality.yml@v1.4.3
    with:
      duckdb_version: v1.4.3
      ci_tools_version: v1.4.3
      extension_name: quack
      format_checks: 'format;tidy'
    if: (github.event_name != 'push' || !contains(join(github.event.commits.*.message, ' '), env.SKIP_CI_PATTERN)) && (github.event_name != 'pull_request' || !contains(github.event.pull_request.title, env.SKIP_CI_PATTERN))
env:
  SKIP_CI_PATTERN: '[SKIP_CI] bump to'
